body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://i.redd.it/3p0qd6is8nx21.jpg);
  background-position: center;
  background-size: cover;
}
main{
  flex-grow: 1;
}

.full-shadow{
  text-shadow: 3px 3px black;
}



.picture-rath{
  height: 600px;
  width: 700px;
}
.picture-nergi{
  height: 600px;
  width: 800px;
  margin-left: 100px;
  margin-top: 20px;
}
.picture-safi{
  height: 600px;
  width: 700px;
  margin-top: 20px
}
